body {
    background: url(https://groundedfullstack.s3.amazonaws.com/grounded_product_images/background-img.jpeg) no-repeat fixed center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
