/* Get All Articles CSS *************************/

.article-background {
    background-image: url('https://groundedfullstack.s3.amazonaws.com/grounded_product_images/ArticleBackgroundPage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.all-articles-container{
    padding-top: 100px;
    padding-left: 4%;
    padding-right: 4%;
}

.arrangement-of-articles{
    /* border: solid; */
    display: grid;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    text-decoration: none;
}

.article-edit-container-present{
    padding-bottom: 20px;
}

.article-edit-button{
    height: 40px;
    width: 150px;
    border-radius: 50px;
    font-size: 15px;
    background-color: #fff9f0;
    border-color: #41483b;
}

.article-edit-button:hover {
    cursor: pointer;
    background-color: #41483b;
    color: white;
}

/* Each Article CSS ******************************/

.main-single-article-container{
    /* border: solid red; */
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr auto;
    padding-left: 10px;
    padding-right: 10px;
}

.each-article-name{
    font-size: 30px;
    text-decoration: none;
}

.each-article-description{
    padding-top: 20px;
    font-size: 18px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Display ellipsis (...) for truncated text */
    max-width: 100%; /* Ensure text doesn't overflow the container */
}

.each-article-more{
    align-self: end;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

/* User Articles CSS ******************************/

.each-article-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-self: center;
    column-gap: 20px;
}

.user-article-edit-delete-buttons{
    height: 40px;
    width: 150px;
    border-radius: 50px;
    font-size: 15px;
    background-color: #fff9f0;
    border-color: #41483b;
}

.user-article-edit-delete-buttons:hover {
    cursor: pointer;
    background-color: #41483b;
    color: white;
}
